{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["Chrome >= 60"]
      },
      "modules": false,
      "useBuiltIns": true,
      "debug": true
    }],
    "react",
    "flow"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
