{
  "plugins": [
    "transform-class-properties",
    "transform-object-assign",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "chrome 59",
          "android 4.4.3",
          "firefox 55",
          "ios 10",
          "safari 10"
        ]
      },
      "modules": false,
      "useBuiltIns": true,
      "debug": true
    }],
    "react",
    "flow"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
