{
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": true,
      "debug": true
    }],
    "react"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"],
      "presets": [["env", { "debug": false }]]
    }
  }
}
