@import '../variables.scss';

// Animations
@keyframes SavingAnimation {
    to {
        transform: rotate(360deg)
    }
}

@keyframes IconLoaderAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
    Input - Checkbox
 */
.input-check-box {
    position: relative;
    z-index: 100;

    display: inline-flex;
    align-items: center;

    cursor: pointer;

    animation: SavingAnimation 0.7s linear infinite;


    // Elements
    input[type='checkbox'],
    .icon {
        width: rem(25);
        height: rem(25);

        color: color($color-error a(90%));

        border-radius: var(--radius-small);

        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-name: IconLoaderAnimation;
        animation-timing-function: linear;
    }

    input[type='checkbox'] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 399;

        width: rem(25);
        height: rem(25);
        padding: 0;

        cursor: pointer;

        appearance: none;


        // States
        &:checked + .icon {
            background-color: $color-primary;
            background-image: url('$(folder-icon)/form/check.svg');
            background-position: center;
            background-repeat: no-repeat;
            border-color: $color-primary;
        }
    }

    .icon {
        position: relative;
        z-index: 200;

        display: block;
        flex-shrink: 0;

        padding: 0;

        background-color: $color-tertiary;
        border: 2px solid $color-tertiary;
    }

    .label {
        padding-left: rem(10);
        margin-bottom: 0;

        font-weight: var(--weight-medium);
        line-height: 1;

        cursor: pointer;
    }
}
